{% block title %}
    Please decide if you want to select the item
{% endblock %}

{% block content %}

<p>You are given <b>10 points</b> for this round.</p>

<p>Please decide whether you want to <b>select the item</b> or <b>not select the item</b>.</p>

<ul>
    <li>If you select the item and it is good, you will <b>earn 10 points</b>.</li>
    <li>If you select the item and it is bad, you will <b>lose 5 points</b>.</li>
    <li>If you choose not to select the item, you will <b>neither gain nor lose anything</b>.</li>
</ul>

<p>Keep in mind that 1 out of 5 times, a good item will turn out to be bad, and a bad item will turn out to be good.</p>
<p>The ratings (if any) are left by other participants that selected this item in previous rounds.</p>

<hr>

<h3>Item for this round:</h3>
<div style="background-color: #DEDFDF; padding: 15px; border-radius: 10px; width: fit-content;">
    <p><b>Item:</b> Item {{ item_id }}</p>
    <p style="color: #1E9F59;"><b>Positive ratings:</b> {{ positive_ratings }}</p>
    <p style="color: #FF3F3F;"><b>Negative ratings:</b> {{ negative_ratings }}</p>

    {% if experimental_condition == "omitted" %}
        <p style="color: #5271FF;"><b>No rating given:</b> {{ no_rating_given }}</p>
    {% endif %}
</div>

<hr>

<p>
    <label>
        <input type="radio" name="selected_item" value="True" required>
        I want to select the item.
    </label>
</p>

<p>
    <label>
        <input type="radio" name="selected_item" value="False" required>
        I do not want to select the item.
    </label>
</p>

{{ next_button }}

{% endblock %}