{{ block title }}
    Instructions Part 1
{{ endblock }}

{{ block content }}

<p>In the following part, you will make six decisions to allocate money to you and another randomly chosen person in this session. The other participants in this session do the same. On six different virtual scales, you will choose the amount you get and the amount the other person gets. Below, you can see an example of a decision screen.
</p>
<img src="/static/pictures/SVO.png" width="750px"/>
<hr>

<h3>Earnings for Part 1</h3>
<p>After all six decisions, your payment is determined as follows:</p>
<ul>
    <li>One of your decisions will be randomly chosen to determine the first part of your payment and the second part of another person's payment.</li>
    <li>One of another person’s decisions will be randomly chosen to determine the second part of your payment and the first part of that other person’s payment.</li>
    <li>Importantly, the other person in (1) is different from the other person in (2).</li>
</ul>
<p>Your earnings from these selected decisions will be converted at a rate of 50 points = €1.</p>


<p>The "Next" button will activate after <span id="countdown" class="countdown">60</span> seconds to ensure you have enough time to read the instructions carefully.</p>

{{ next_button }}

{{ endblock }}

{{ block scripts }}
<script>
    const nextBtn = document.getElementsByClassName("otree-btn-next btn btn-primary")[0];
    nextBtn.disabled = true;
    nextBtn.classList.add("disabled-button");

    let countdown = 10;
    const countdownElement = document.getElementById("countdown");

    const timer = setInterval(function () {
        countdown--;
        countdownElement.textContent = countdown;

        if (countdown <= 0) {
            clearInterval(timer);
            nextBtn.disabled = false;
            nextBtn.classList.remove("disabled-button");
        }
    }, 1000);
</script>
{{ endblock }}